<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans       
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd  
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx.xsd">  
        
    <context:component-scan base-package="com.exam"  
        use-default-filters="false">  
        <context:include-filter type="annotation"  
            expression="org.springframework.stereotype.Controller" />  
    </context:component-scan>
    
    <!-- 定义视图解析器 -->  
    <bean  
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="order" value="1" />  
        <property name="prefix">  
            <value>/WEB-INF/views/</value>
        </property>  
        <property name="suffix">  
            <value>.html</value> 
        </property>  
    </bean>  
  
    <!-- 设置freeMarker的配置文件路径 -->  
    <bean id="freemarkerConfiguration"  
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
        <property name="location" value="classpath:freemarker.properties" />  
    </bean>  
  
    <!-- 配置freeMarker的模板路径 -->  
    <bean id="freemarkerConfig"  
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <!--property name="freemarkerSettings" ref="freemarkerConfiguration"/ -->  
  
        <property name="templateLoaderPaths">  
            <list> 
                <value>/WEB-INF/views/</value>  
                <value>/static/ftl/</value>  
            </list>  
        </property>  
        <property name="defaultEncoding" value="utf-8" />  
        <property name="freemarkerVariables">  
            <map>  
                <entry key="xml_escape" value-ref="fmXmlEscape" />  
            </map>  
        </property>  
        <property name="freemarkerSettings">  
            <props>  
                <prop key="template_update_delay">10</prop>  
                <prop key="locale">zh_CN</prop>  
                <prop key="datetime_format">yyyy-MM-dd</prop>  
                <prop key="date_format">yyyy-MM-dd</prop>  
                <prop key="number_format">#.##</prop>  
                <!-- 自动导入的模板 -->  
                <prop key="auto_include">include.ftl</prop>  
            </props>  
        </property>  
    </bean>  
  
    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />  
  
    <!-- 配置freeMarker视图解析器 -->  
    <bean id="viewResolver"  
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
        <property name="viewClass"  
            value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />  
        <property name="contentType" value="text/html; charset=utf-8" />  
        <property name="cache" value="true" />  
        <property name="suffix" value=".html" />  
        <property name="order" value="0" />  
        <property name="exposeRequestAttributes" value="true" />  
        <property name="exposeSessionAttributes" value="true" />  
        <property name="exposeSpringMacroHelpers" value="true" />  
        <property name="requestContextAttribute" value="request" />  
    </bean>  
  
   <!-- 主要作用于@Controller，激活该模式 下面是一种简写形式，完全可以手动配置替代这种简写形式； 它会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter   
        两个bean, 是spring MVC为@Controllers分发请求所必须的 -->  
    <mvc:annotation-driven />  
    <bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!-- one of the properties available; the maximum file size in bytes -->  
        <!-- <property name="maxUploadSize" value=""/> -->  
    </bean>  
</beans>  