<!DOCTYPE html>
<html class="app">
<head>
	<title>账户注册</title>
	<meta charset="UTF-8" />
	<meta charset="keywords" content="账户注册" />
	<meta name="description" content="这是一个简单的账户管理系统的注册/编辑页面" />
	<@add_head/>
	<style type="text/css">
	body{
		margin:350px;
		margin-top: 20px;
	}
	</style>
</head>
<body>
	<@add_body/>
	<script type="text/javascript">
		$(function(){
			$("input[name='state'][value=0]").attr("checked",true);//为默认选中的radio赋值
			
			$('#addForm').bootstrapValidator({
		        message: '输入值有误，请重新输入',
		        feedbackIcons: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		            userCode: {
		                message: '编码内容不合法，请重新输入',
		                validators: {
		                    notEmpty: {
		                        message: '编码内容不能为空'
		                    },
		                    stringLength: {
		                        min: 5,
		                        max: 15,
		                        message: '编码内容至少5个字符，至多15个字符'
		                    },
		                    regexp: {
		                        regexp: /^[a-zA-Z0-9_]+$/,
		                        message: '编码内容只能包含英文和数字'
		                    }
		                }
		            }
		        }
		    });
			 $('#form_submit').click(function(){
				var selectedColor = $('#state input:radio:checked').val();
				//验证表单
				var isValid = $('#addForm').data('bootstrapValidator').isValid(); 
				if(isValid){
					var validUserCodeUrl='/account-management/saveForAdd';
					var userCode = $('#userCode').val();
					var formData = $("#addForm").serializeArray();
					console.log(formData);
					//验证账户是否已存在
					$.ajax({
		            	type: "POST",
		                url: validUserCodeUrl,
		                data:formData,
		                success:function(res){
		                	if(res){
		                		if(res.code==200){
		                			if(res.message=="注册成功"){
		                				var homeUrl = "/account-management/home";
		                				alert(res.message);
		                	            window.location.href = homeUrl;
		                			}else{
		                				alert(res.message);
		                			}
		                		}else if(res.code==500){
		                			alert(res.message);
		                		}
		                	}
		                },error:function(XMLHttpRequest, textStatus, errorThrown){
		                	console.log(XMLHttpRequest.status);
		                	console.log(XMLHttpRequest.readyState);
		                	console.log(textStatus);
		                }
		            });
				}else{
					alert("输入内容未通过验证，请重新输入");
				}
			}); 
		});
		
	</script>
</body>