<!DOCTYPE html>
<html class="app">
<head>
	<title>修改账户</title>
	<meta charset="UTF-8" />
	<meta charset="keywords" content="修改账户" />
	<meta name="description" content="这是一个简单的账户管理系统的修改页面" />
	<@edit_head/>
	<style type="text/css">
	body{
		margin:350px;
		margin-top: 20px;
	}
	</style>
</head>
<body>
	<@edit_body/>
	<script type="text/javascript">
		$(function(){
			
			//$('#userCode').attr("readOnly",true);
			var userTypeValue=${user.userType};
			$("#userType").select2().val(userTypeValue).trigger("change");//初始化select2默认值
			var stateValue = ${user.state};
			$("input[name='state'][value="+stateValue+"]").attr("checked",true);//为radio初始化赋值
			$('input[type="radio"]:checked').parent('label').addClass('active');//为赋值后的radio激活样式
			
			
			$('#editForm').bootstrapValidator({
		        message: '输入值有误，请重新输入',
		        feedbackIcons: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		            userCode: {
		                message: '编码内容不合法，请重新输入',
		                validators: {
		                    notEmpty: {
		                        message: '编码内容不能为空'
		                    },
		                    stringLength: {
		                        min: 5,
		                        max: 15,
		                        message: '编码内容至少5个字符，至多15个字符'
		                    },
		                    regexp: {
		                        regexp: /^[a-zA-Z0-9_]+$/,
		                        message: '编码内容只能包含英文和数字'
		                    }
		                }
		            }
		        }
		    });
			
			$('#form_submit').click(function(){
				var selectedColor = $('#state input:radio:checked').val();
				
				//更新表单验证状态（即：重新验证）
				var bootstrapValidator = $("#editForm").data('bootstrapValidator');  
			    bootstrapValidator.updateStatus('userCode', 'NOT_VALIDATED').validateField('userCode');
			  	//验证表单
				var isValid = bootstrapValidator.isValid();
				
				if(isValid){
					var validUserCodeUrl='/account-management/saveForUpdate';
					var formData = $("#editForm").serializeArray();
					console.log(formData);
					//验证账户是否已存在
					$.ajax({
		            	type: "POST",
		                url: validUserCodeUrl,
		                data:formData,
		                success:function(res){
		                	if(res){
		                		if(res.code==200){
	                				var homeUrl = "/account-management/home";
	                				alert(res.message);
	                	            window.location.href = homeUrl;
		                		}else if(res.code==500){
		                			alert(res.message);
		                		}
		                	}
		                },error:function(XMLHttpRequest, textStatus, errorThrown){
		                	console.log(XMLHttpRequest.status);
		                	console.log(XMLHttpRequest.readyState);
		                	console.log(textStatus);
		                }
		            });
				}else{
					alert("输入内容未通过验证，请重新输入");
				}
			}); 
		});
		
	</script>
</body>